.rootContainer {
    text-align: center;
    font-family: 'Verdana';
}

.internalContainer {
    margin: 0 auto;
    width: 80%;
}

.time {
    font-weight: bold;
}

.date {
    text-transform: uppercase;
}

.nextDestination {
    margin-bottom: 2em;
}

.flightTripItem {
    display: inline-block;
    border: 1px solid #dedede;
    margin-bottom: 2em;
    margin-right: 1em;
    padding: 0.5em;
}

.restaurantSectionTitle {
    font-size: 25px;
    margin-bottom: 1em;
}

.restaurantItem {
    display: inline-block;
    margin-right: 0.5em;
}

.carrier {
    color: gray;
    font-size: 75%;
}
