.rootContainer {
    text-align: center;
    font-family: 'Verdana';
}

.internalContainer {
    margin: 0 auto;
    width: 80%;
}

.time {
    font-weight: bold;
}

.date {
    text-transform: uppercase;
}

.nextDestination {
    margin-bottom: 2em;
}

.flightTripItem {
    display: inline-block;
    border: 1px solid #dedede;
    margin-bottom: 2em;
    margin-right: 1em;
    padding: 0.5em;
}

.restaurantSectionTitle {
    font-size: 25px;
    margin-bottom: 1em;
}

.restaurantItem {
    display: inline-block;
    margin-right: 0.5em;
}

.carrier {
    color: gray;
    font-size: 75%;
}

.infoContainer {
    margin-bottom: 3em;
}

.hotelIcon {
    color: darkblue;
    animation: rotate 2s linear infinite;
}

.dinnerIcon {
    color: brown;
    animation: rotate 2s 0.5s linear infinite;
}

.beerIcon {
    color: gold;
    animation: rotate 2s 1s linear infinite;
}

.glassIcon {
    color: lightgreen;
    animation: rotate 2s 1.5s linear infinite;
}

@keyframes rotate {
    25% {
        transform: rotateZ(360deg);
    }

    to {
        transform: rotateZ(360deg);
    }
}
