.rootContainer {
    composes: rootContainer from './App.css';
    text-align: left;
}

/*@color-black: #000000;*/
/*@color-grey-dark: #353740;*/
/*@color-blue: #006dff;*/
/*@color-white: #ffffff;*/
/*@mustard-yellow: #f2bb15;*/

body {
    margin: 0;
}

.headerSection {
    color: #353740;
    background-size: cover;
    height: 600px;
}

h1 {
    font-size: 150px;
    line-height: 78%;
    margin: 0 0 0 -8px;
    text-transform: uppercase;
}

.flightsContainer {
    text-align: center;
}

.priceSection {
    color: black;
    padding-bottom: 80px;
}

.priceInfoContainer {
    margin-left: 15%;
    font-size: 34px;
}

.date {
    text-transform: uppercase;
    margin: 0;
    font-size: 45px;
}

.carrier {
    color: gray;
    font-size: 75%;
}

.flightTripItem {
    background-color: white;
    color: #353740;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2em;
    margin-right: 1em;
    padding: 0.5em;
    height: 126px;
    width: 250px;
    position: relative;
    top: -70px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.thingsToDoSection {
    text-align: right;
    margin-right: 15%;
}

.thingsToDoSectionTitle {
    color: white;
    font-size: 34px;
    margin: 0 0 12px;
    line-height: 88%;
    position: relative;
    top: calc(-34px * 0.78);
    text-transform: uppercase;
}

.restaurantItem {
    font-size: 34px;
}

.changeDestination {
    display: none;
}
