.rootContainer {
    composes: rootContainer from './App.css';
    text-align: left;
}

/*@color-black: #000000;*/
/*@color-grey-dark: #353740;*/
/*@color-blue: #006dff;*/
/*@color-white: #ffffff;*/
/*@mustard-white: #f2bb15;*/

body {
    margin: 0;
}

.headerSection {
    background: url('../../images/berlin_shrunk.jpg') 50% 69%;
    color: #353740;
    background-size: cover;
    height: 600px;
}

h1 {
    font-size: 150px;
    line-height: 78%;
    margin: 0 0 0 -8px;
    text-transform: uppercase;
}

.flightsContainer {
    text-align: center;
}

.priceSection {
    background-color: #f2bb15;
    color: black;
    padding-bottom: 80px;
}

.priceInfoContainer {
    margin-left: 15%;
    font-size: 34px;
}

.time {
    font-weight: bold;
}

.date {
    text-transform: uppercase;
    margin: 0;
    font-size: 45px;
}

.nextDestination {
    margin-bottom: 2em;
}

.flightTripItem {
    background-color: white;
    color: #353740;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2em;
    margin-right: 1em;
    padding: 0.5em;
    height: 126px;
    width: 250px;
    position: relative;
    top: -70px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.restaurantSectionTitle {
    font-size: 25px;
    margin-bottom: 1em;
}

.restaurantItem {
    display: inline-block;
    margin-right: 0.5em;
}

.carrier {
    color: gray;
    font-size: 75%;
}

.infoContainer {
    margin-bottom: 3em;
}

.hotelIcon {
    color: darkblue;
    animation: rotate 2s linear infinite;
}

.dinnerIcon {
    color: brown;
    animation: rotate 2s 0.5s linear infinite;
}

.beerIcon {
    color: gold;
    animation: rotate 2s 1s linear infinite;
}

.glassIcon {
    color: lightgreen;
    animation: rotate 2s 1.5s linear infinite;
}

@keyframes rotate {
    25% {
        transform: rotateZ(360deg);
    }

    to {
        transform: rotateZ(360deg);
    }
}
