.nextDestination {
  margin-bottom: 2em;
}

.flightTripItem {
  font-family: 'Helvetica';
  display: inline-block;
  border: 1px solid #dedede;
  margin-bottom: 2em;
  margin-right: 1em;
  padding: 5px;
}

.restaurantSectionTitle {
  font-family: 'Lato';
  font-size: 25px;
  margin-bottom: 1em;
}

.restaurantItem {
  display: inline-block;
  margin-right: 0.5em;
}