body {
    padding-top: 10vh;
    color: white;
    background: url('skumpa_compressed.jpeg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Helvetica Neue, Helvetica, "Comic Sans MS", sans-serif;
}

h1 {
    font-size: 4.5em;
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
    opacity: 0;
    animation: appear-from-top ease 0.4s forwards;
    animation-delay: 0.4s;
}

p {
    font-size: 3em;
    text-shadow: 1px 1px 2px black, 0 0 1em gold, 0 0 0.2em gold;
    opacity: 0;
    animation: appear-from-left ease 0.4s forwards;
    animation-delay: 0.8s;
}

p:nth-of-type(2) {
    animation-name: appear-from-right;
    animation-delay: 1.2s;
    text-shadow: 1px 1px 2px black, 0 0 1em green, 0 0 0.2em green;
}

p:nth-of-type(3) {
    animation-name: appear-from-bottom;
    animation-delay: 1.6s;
    text-shadow: 1px 1px 2px black, 0 0 1em red, 0 0 0.2em red;
}

@keyframes appear-from-top {
    from {
        opacity: 0;
        transform: translateY(-15px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


@keyframes appear-from-left {
    from {
        opacity: 0;
        transform: translateX(-15px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes appear-from-right {
    from {
        opacity: 0;
        transform: translateX(15px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes appear-from-bottom {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}